{% extends 'base/index.html' %}

{% block content %}

<h1>Contact page</h1>
<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name_contact">
        </div>
        <div class="mb-3">
            <label for="surname" class="form-label">Surname</label>
            <input type="text" class="form-control" id="surname" name="surname_contact">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email_contact">
              </div>
              <div class="mb-3">
                <label for="comment" class="form-label">Comment</label>
                <textarea class="text" id="comment" rows="3" name="comment_contact"></textarea>
              </div>
              <input type="submit" value="send" class="btn btn-dark">

</form>


{% endblock %}