{% extends 'base/index.html' %}
{% load static %}

{% block content %}

<div class="reservation" id="reservation">
    <div class="image">
        <img src="{% static 'images/reservation.jpg' %}">;
    </div>
    <div class="form">
        <h1 class="heading" style="font-size: 6rem;">Book your table</h1>
        <center><h3 class="sub-heading" style="font-size: 4rem;">~ Check out our place ~</h3></center>
        <form method="POST">
            {% csrf_token %}
            <div class="form-holder" >
               <div>
                    <select name="people_reservation" id="people" style="width: 80%;" required>
                        <option>1 person</option>
                        <option>2 people</option>
                        <option>3 people</option>
                        <option>4 people</option>
                        <option>5 people</option>
                        <option>6 people</option>
                    </select>

                    <input type="date" class="form-holder" name="date_reservation" id="date" placeholder="Date" style="width: 80%;" required>
                    <input type="number" name="phone_reservation" id="phone" placeholder="Phone" style="width: 80%;" required>
               </div> 

               <div>
                <!-- <input type="text" name="" placeholder="Name"> -->
                    <input type="text" class="form-holder" id="name" name="name_reservation" placeholder="name" style="width: 80%;" required>
                <input type="time" name="time_reservation" placeholder="Time" style="width: 80%;" required>
                <!-- <input type="text" name="" placeholder="Email" style="text-transform: lowercase;"> -->
                <input type="email" class="form-holder" id="email" placeholder="email" name="email_reservation" style="text-transform: lowercase;width: 80%;" required>
               </div>
            </div>

            <center>
                <input type="submit" value="Book now">
                <a href="{% url 'menuPage' %}" class="btn12">Continue To Preorder</a>
            </center>
        </form>
    </div>
</div>



{% endblock %}